
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /* background-color: rgba(246, 246, 246, 0.438)!important; */

  }
  .nav-wrapper{
     background-color: rgb(8, 169, 184);
  }
#myfooter{
    background-color: rgb(8, 169, 184);
}
  main {
    flex: 1 0 auto;
  }
.params{
    margin-top: 20px;
    padding: 10px;
}
.logo{
  width: 70px;
  border-radius: 100%;
  padding-left: 0px;
  margin-left: 20px;
  margin-right: 20px;
}
#images-gallery1{
  background-color: aquamarine;
  margin: 20px 0;
  width: 100%;
  max-width:initial;
  padding-top: 20px;
  padding-bottom: 20px;
}
#slider{
  margin-top: 30px;
}
#card{
  background-color: #ccc;
  width: 100%;
  max-width:initial;
}
#card h2{
  text-align: center;
}
#card2{
  background-color: rgb(1, 136, 107);
  width: 100%;
  max-width:initial;

}
#images-gallery10{
  margin-top: 800px;
  width: 100%;
  max-width:initial;
}
#contact{
  background-color: rgb(4, 101, 167);
  width: 100%;
  max-width:initial;
}
#partners img{
  height: 180px;
  width: 220px;
  padding: 10px;
}
#partners-div{
  background-color: rgb(59, 82, 37);
  width: 100%;
  max-width:initial;
  color: #fff;
}