
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgba(151, 54, 241, 0.438)!important;

  }
  .nav-wrapper{
     background-color: rgb(8, 169, 184);
  }
#myfooter{
    background-color: rgb(8, 169, 184);
}
  main {
    flex: 1 0 auto;
  }
.params{
    border: 1px solid rgb(92, 74, 74);
    margin-top: 20px;
    padding: 10px;
}
.logo{
  width: 70px;
  border-radius: 100%;
  padding-left: 0px;
  margin-left: 20px;
  margin-right: 20px;
}
#images-gallery{
  margin-top: 20px;
}
#contact{
  border: 1px solid black;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px;
}
#slider{
  margin-top: 30px;
}